bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

.vscode/
.idea/
*.swp

*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

packages/
*.nupkg

*.log

.env
.env.local
.env.*.local


frontend/node_modules/
frontend/dist/

nginx/html/

loki/storage/chunks/
loki/storage/
tempo/tempo-data/
grafana/data/
grafana/provisioning/dashboards/*.json.bak
prometheus/data/

*.tmp
*.temp
loki/storage/index
